@import url(./assets/fonts/fonts.css);
@import url(./styles/dashboard/teams.css);

:root {
    --yellow: #ffe600;
    --blue: #020202;
    --gray: #2e2e38;
    --gray-dark: #1a1a24;
    --gray-light: #eaeaf2;
    --gray-extra-light: #f6f6fa;
    --gray-text: #2e2e38;
    --gray-light-text: #747480;

    --gray-divisor: #c4c4cd;
    --gray-divisor-light: #eaeaf1;

    --bold: 'EYInterstate Bold';
    --light: 'EYInterstate Light';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    background: #fff;
    font-family: 'EYInterstate';
    -webkit-font-smoothing: antialiased;
}

/* Header =================================================================== */
#header {
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
}

#header .logo {
    height: 45px;
    width: 92.45px;
    margin: 15px 30px;
}

#header .welcome {
    width: 50%;
    background-color: var(--gray-dark);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 30px;
}

#header .welcome img {
    width: 35px;
    height: 35px;
    border: 1px solid #c4c4cd;
    margin-right: 10px;
}

#header .welcome a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #c4c4cd;
    cursor: pointer; 
}

#header .welcome a:hover span{
    color: white;
    border-bottom: 1px solid var(--yellow);
    transition: 0.25s ease;
}

/* Cards ==================================================================== */
.card {
    padding: 25px;
    margin-bottom: 20px;
    background-color: #fff;
}

.card-title {
    margin-bottom: 25px;
}

.card-title h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.card-title p {
    font-size: 14px;
    color: var(--text-light);
    margin-bottom: 5px;
}

main {
    display: flex;
    justify-content: center;
}

/* Balance */
#balance {
    display: flex;
    margin: 0 10px 10px 0;
}

#balance .card:nth-child(2) {
    margin: 0 20px 20px 20px;
}

#balance .card .card-title h3{
    font-size: 16px;
    margin-bottom: 5px;
}

#balance .card .card-title p {
    font-size: 14px;
    font-family: "EYInterstate Light";
}

/* Minhas equipes */
#teams {
    width: 530px;
    margin: 0 0 0 10px;
}